[user]
    email=pablomunoz@pablomunoz.dev
    username=Pablo Muñoz
    name=Pablo Muñoz
    signingkey = ~/.ssh/id_ed25519

# Override identity for University folder
[includeIf "gitdir:~/projects/uva/"]
    path = ~/.gitconfig-university

[gpg]
    format = ssh

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[pager]
    diff = false
    log = false
    status = false

[core]
    editor = nvim
    autocrlf = input

[commit]
    gpgsign = true

[pull]
	rebase = true
